<section>
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <h1>Add Product</h1>

            <form action="/admin/add-product" method="post" enctype="multipart/form-data" style="width: 100%;">
                
                <label for="" style="margin-top: 2%;">Product</label>
                <input type="text" name="Product" class="form-control" placeholder="product title" style="width: 30%;" />

                <label for="" style="margin-top: 2%;">Price</label>
                <input type="number" name="Price" class="form-control" placeholder="price" style="width: 30%;" />

                <label for="" style="margin-top: 2%;">Category</label>
                <input type="text" name="Category" class="form-control" placeholder="category" style="width: 30%;" />

                <label for="exampleFormControlFile1" style="margin-top: 2%;">Image</label>
                <input type="file" name="Image" class="form-control" style="width: 30%;">

                

                <button type="submit" class="btn btn-success" style="margin-top: 2%;">Submit</button>
            </form>
        </div>
    </div>
</section>