<section>
  <div class="container" style="width: 20%; margin-top: 5%;">
    <form action="/login" method="post">
        <h2 style="text-align: center;">Login</h2>
        {{#if loginErr}}
        <h6>{{loginErr}}</h6>
        {{/if}}
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          name="Email"
        />
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          name="Password"
        />
      </div>
      <a href="/signup">Create new account</a>



      <button type="submit" class="btn btn-primary" style="margin-left: 10%;">Login</button>
   
    </form>
  </div>
</section>