<section>
  <div class="container" style="width: 20%; margin-top: 5%;">
    <form action="/signup" method="post">
      <h2 style="text-align: center;">Signup</h2>

      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter name"
          name="Name"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          name="Email"
        />

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          name="Password"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        style="margin-left: 35%;"
      >Signup</button>

    </form>
  </div>
</section>